@import "../../../styles/font.scss";
.register{

    background: rgb(186,220,88);
    background: linear-gradient(357deg, rgba(186,220,88,1) 0%, rgba(144,228,110,1) 79%); 
    width: 100%;
    height: calc(100vh - 53px);
    &-container{

        &-div{
            display: flex;
            justify-content: center;
            &-h1{
                text-align: center;
                color: #180b52;
                margin-top: 0;

            }
            
            &-box{
                margin: 1rem 0;
                
                &-input{
                    width:80%;
                    padding: .7rem;
                    box-sizing: border-box;
                    border-radius: 5px;
                    border: none;
                    outline: 2px #000;
                    padding-left: 15px;
                    background-color: rgba(0, 0, 0, 0.027);
                
                    &:focus{
                        border: 1px solid #000;
                    }
                }
            }
        }

    }
}


form{
    padding: 2rem;
    border-radius: 35px;
    -webkit-box-shadow: 12px 25px 32px -13px rgba(0,0,0,0.274); 
    box-shadow: 0 10px 25px rgba(92, 99, 105, 0.37);
    width: 400px;
    text-align: center;
    margin: 30px;
    background: #fff;

}
#input-submit{
    margin: 10px 0;
    cursor: pointer;
    transition: .2s all;
    background-color: #fff;
    @include font-poppins;
    &:hover{
        background-color: #90e46e;
        color: #fff;
    }
    
}
#register-back{
    padding: 3rem;
    padding-bottom: 0;
    font-size: 30px;
    color: #fff;
}
