@import "../../../styles/font.scss";
.register{

    background: rgb(186,220,88);
    background: linear-gradient(357deg, rgba(186,220,88,1) 0%, rgba(144,228,110,1) 79%); 
    width: 100%;
    &-container{
        display: flex;

        &-div{
            display: block;
            margin: 30px auto;           
            border-radius: 30px;
            &-h1{
                text-align: center;
                color: #fff;
                text-shadow: 4px 4px 17px rgba(150, 150, 150, 1);
                margin-top: 0;

            }
            
            &-box{
                margin: 1rem 0;
                
                &-input{
                    width:80%;
                    padding: .7rem;
                    box-sizing: border-box;
                    border-radius: 5px;
                    border: none;
                    outline: 2px black;
                    padding-left: 15px;
                }
            }
        }

    }
}


form{
    padding: 2rem;
    border-radius: 8px;
    -webkit-box-shadow: 12px 25px 32px -13px rgba(0,0,0,0.274); 
    box-shadow: 12px 25px 32px -13px rgba(0, 0, 0, 0.274);
    width: 400px;
    text-align: center;
}

#input-submit{
    margin: 10px 0;
    cursor: pointer;
    transition: .2s all;
    background-color: #fff;
    @include font-poppins;
    &:hover{
        background-color: #90e46e;
        color: #fff;
    }
    
}
#register-back{
    padding: 3rem;
    padding-bottom: 0;
    font-size: 30px;
    color: #fff;
}