@import '../../styles/font.scss';
@import '../../styles/style.scss';

.readOurBlog{
    background-color: #fafafc;

    //===ESTILIZAÇÃO DO TÍTULO=====    
    border: 2px solid rgba(255, 255, 255, 0);  //borda utilizada para definir os espaço da div
    
    &-title{
        text-align: center;
        
        &-h2{
            color: #1d164d;
            font-size: 30px;
            margin-top: 0;

        }   
        
        &-p{
            color: #9e9baf;
            margin: 0;
            &-bottom{
                margin: .7rem auto;
                
            }
        }
    }
}

.carousel{
    margin: 5rem auto;
    border-radius: 8px;
    
    &-div{
        width: 300px;
        text-align: center;
        background-color: #ffffff;
        border: 2px solid rgba(255, 255, 255, 0);

        &-img{
           width: 100%;
        }
        
        &-p{
            color: #1d164d;
            @include font-poppins;

            font-style: normal;
        }
    }
}

