@mixin container{
    max-width: calc(100% - 300px);
    width: 100%;
    display: block;
    margin: 0 auto;
}

@mixin container-mobile{
    max-width: calc(100% - 35px);
    display: block;
    margin: 0 auto;
}