.header{
    background: url('../../img/Illustration.svg');
    background-repeat: no-repeat;
    background-position: right top;
    background-size: 55% auto;
    background-color: rgba(133, 43, 43, 0.205);
    height: 100vh;
    
}