@import "../../styles/style.scss";
@import "../../styles/font.scss";
.header{
    background: url('../../img/Illustration.svg');
    background-repeat: no-repeat;
    background-position: right top;
    background-size: 55% auto;
    height: 100vh;
    
//---LOGO---

    &-container{
        @include container;
        display: flex;
        justify-content: space-between;
        align-items: center;
        
        &-logo{

            &-h1{
                @include font-poppins;
                font-size: 30px;
                color: #badc58;
            }
        }
    }
}

//--LISTA DE ITENS--

.icon{
    position: absolute;
    right: 1%;
    height: 30px;
    cursor: pointer;
    width: fit-content;
}
.hamburguer{
    top:50%;
    left: 10%;
    width: 30px;
    height: 6px;
    background-color: #000;
    transition: .5s;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    display: none;
}

.hamburguer:before{
    position: absolute;
    top:-12px;
    content: '';
    width: 30px;
    height: 6px;
    background-color: #000;
    transition: .5s;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2)
}
.hamburguer:after{
    position: absolute;
    top:12px;
    content: '';
    width: 30px;
    height: 6px;
    background-color: #000;
    transition: .5s;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2)
}

.header-container-list{

    &-nav{
        
        &-ul{
            display: flex;
            list-style: none;
            flex-wrap: wrap;

        }
    }
}
.responsiveList{
    position: absolute;
    list-style: none;
    width: 550px;
    background-color: #fff;
    height: 100vh;
    right: 0;
    top: 0;
    margin-top: 0;
    transition: .3s ease-in;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-color:#8fd162;

}
.icon.iconActive .hamburguer{
    background: transparent;
    transition: .3s;
    box-shadow: 0 2px 5px transparent;
}

.icon.iconActive .hamburguer::after{
    top: 0;
    background: #000;
    transform: rotate(225deg);
    box-shadow: 0 -2px 5px rgba(0,0,0,0.2)
}

.icon.iconActive .hamburguer::before{
    top: 0;
    background: #000;
    transform: rotate(135deg);
    box-shadow: 0 -2px 5px rgba(0,0,0,0.2)
}

.li{
    padding: .9rem 2rem .8rem 2rem;
    font-size: 1.2em;
    color: #fff;
    @include font-poppins;
    font-weight: 500;
}
.li--active{
    text-shadow: 0px 2px 9px rgba(150, 150, 150, 0.86);
    padding: .9rem 2rem .8rem 2rem;
    font-size: 1.2em;
    color: #fff;
    @include font-poppins;
    font-weight: 500;
}

.li-register{
    color: #badc58;
    background-color: #fff;
    border-radius: 5px;
    font-size: 1em;
    cursor: pointer;
}

//---CONTEÚDO DO MEIO DA PÁGINA----

.page-container{
    @include container;
    margin-top: 150px;
    height: 30vh;
    &-div{
        
        &-input{
            box-sizing: border-box;
            padding: 1.1rem;
            width: 325px;
            border-radius: 5px;
            border: 1.5px solid #1d164d;
            @include font-poppins;
            margin-right: 25px;
            
            &:focus{
                outline: 1.5px solid #badc58;
                border: none
            }
        }
        
        &-h2{
            font-size: 3em;
            color: rgb(24, 11, 82);
            @include font-poppins;
            font-weight: 600;
            line-height: .9em;
            
        }
    }
}
#icon-search{
    color: #fff;
    background-color: #badc58;
    padding: 1.35rem;
    border-radius: 5px;
    align-items: center;
    cursor: pointer;
}

@media (max-width: 1100px){
    .header{
        margin:0 50px;
        background-size: 650px;
        
        &-container{

            &-list{

                margin-right: 15px;
            }
        }
        

    }
    .li{
        font-size: 1em;

    }    
}

@media(max-width: 900px){
    .header{
        background: url('');
    
    }
    .li{
        color: #000;
    }

    .page-container{
        display: block;
        margin: 0 auto;
        text-align: center;

    }
    #icon-search{
        margin-top: 25px;
    }    
}

@media (max-width: 500px){
    .header{
        @include container-mobile;
    }
    .page-container-div-input{
        
        width: 100%;

    }
}

@media(max-width: 1000px){
    
    .li{
        display: none;
    }
    .hamburguer{
        display: block;
        z-index: 9999;
    }
    .responsiveList{
        width: 100%;
    }
    .header{
        height: 80vh;
    }
}
