@import "../../styles/style.scss";

.footer{
    @include container;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    
    &-container{
        display: flex;

        &-p{
            color:#1d164d;
        
            &-privacy{
                color: #9ea8c2;
                margin: 1rem 1rem;
            }
        }
    }
}

